<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ error_name }} | Rust Error Output</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="header">
      <h1>Rust Error Output</h1>
    </div>
    <div id="nav">
      <div id="nav-inner">
        {{ nav }}
      </div>
    </div>
    <div id="content">
      <p>This is a reference to help answer this question: “what will
      my Rust program print if something goes wrong?”</p>

      <p>All output in these examples goes to stderr, nothing goes to
      stdout.</p>

      {{ content }}
    </div>
  </body>
</html>
